
<%- include('partials/header'); -%>


<h1>Home</h1>
<p><%= Homepage %></p>


<% Objectarr2.forEach(function(newitem){%>
    <h1><%= newitem.name%></h1>
    <p><%=newitem.content.substring(0,100)+" ..."  %>
     <a href="/home/<%= newitem._id %>" >>Read more</a>
    </p>  
<% }) %>
    




<%- include('partials/footer'); -%>
